body {
    font-family: 'Arial', sans-serif;
}
section{
    align-items: center;
}
header {
    background-color: #007bff;
    color: white;
    padding: 200px 0;
}

section {
    margin-bottom: 60px;
}

.navbar {
    background-color: #f8f9fa;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}
